*{
    box-sizing: border-box;
}

body{
    height: 2000px;
}

.navbar{
    background: rgba(0, 0, 0, 0.247);
    margin: 0;
    border: 1px solid black;
}
.navbar-nav li{
    border-bottom: 1px solid black;
}
.row{
	background: rgba(0, 0, 0, 0.247);
	margin-top: 50px;
}
@media (max-width: 578px) {
    .navbar{
        padding: 5px 20px;
    }
    .row{
        margin-left: 10px;
        margin-right: 10px;
    }
}